
.fa-facebook-square {
    color: var(--facebook);
}
.fa-facebook-square:hover {
    opacity: 80%;
}

.fa-twitter-square {
    color: var(--twitter);
}
.fa-twitter-square:hover {
    opacity: 80%;
}

.fa-linkedin {
    color: var(--linkedin);
}
.fa-linkedin:hover {
    opacity: 80%;
}

.fa-instagram-square {
    text-transform: uppercase;
    background: var(--instagram);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-instagram-square:hover {
    opacity: 80%;
}